{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <main>
        <h1 class="title">Weather</h1>
        <form class="search" action="{% url 'index' %}" method="GET">
            <input class="input-search" type="search" name="q" placeholder="Name of the city...">
        </form>
        <div class="container">
            <div class="weather-info">
                a
            </div>
            <div class="weather-info">
                a
            </div>
            <div class="weather-info">
                a
            </div>
            <div class="weather-info">
                a
            </div>
        </div>
        <p class="credits">Weather. All rights reserved | Made by <a class="link" href="https://github.com/nuzael" target="_blank">Nuzael</a></p>
    </main>
</body>
</html>