{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Weather</title>
</head>
<body>
    <div class="container-left">
        <h1 class="title">Weather</h1>
        <div class="weather-info">
            <p class="current-temp">{{ current_weather.current_temp }}º</p>
            <img id="main-weather-icon" src="{{ current_weather.icon }}" alt="">
            <div class="local">
                <p class="city">{{ current_weather.city }}</p>
                <span id="datetime"></span>
            </div>
            
        </div>
        <div class="forecast-weather">
            {% for day in forecast_weather %}
                <div class="weather-box">
                    <p id="forecast-title"></p>             
                    <img id="day-icon" src="https://openweathermap.org/img/wn/{{ day.icon }}n@2x.png" alt="">
                    <div class="temp">
                        <p class="max-temp">{{ day.max_temp }}º</p>
                        <p class="min-temp">{{ day.min_temp }}º</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container-right">
        <div class="container-location">
            <form class="form-search" action="{% url 'index' %}" method="GET">
                <input class="input-search" type="search" name="q" placeholder="Name of the city...">
                <button class="button-search" type="submit"><img class="img-search" src="{% static 'img/search.png' %}" alt=""></button>
            </form>
            <p class="text-format">Birmingham</p>
            <p class="text-format">Manchester</p>
            <p class="text-format">New York</p>
            <p class="text-format">São Paulo</p>
        </div>

        <hr class="line">

        <div class="container-details">
            <p id="title-detail">Weather Details</p>

            <div class="info">
                <p class="text-format">Feels like</p>
                <strong class="data">{{ current_weather.feels_like }}ºC</strong>
            </div>
            <div class="info">
                <p class="text-format">Cloudy</p>
                <strong class="data">{{ current_weather.cloudy }}%</strong>
            </div>
            <div class="info">
                <p class="text-format">Humidity</p>
                <strong class="data">{{ current_weather.humidity }}%</strong>
            </div>
            <div class="info">
                <p class="text-format">Wind</p>
                <strong class="data">{{ current_weather.wind }}km/h</strong>
            </div>
            <div class="info">
                <p class="text-format">Rain</p>
                <strong class="data">{{ current_weather.rain }}mm</strong>
            </div>
        </div>

        <hr class="line">
    </div>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
